* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Merriweather Sans', sans-serif;
    overflow-y: hidden; /* Impede a rolagem vertical */
    overflow-x: hidden; /* Impede a rolagem horizontal */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0;
    overflow: hidden; /* Garante que nada transborde do container */
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto; /* Adiciona rolagem horizontal apenas se for necessário */
    max-width: 100%;
    padding: 0 10px;
    margin-bottom: 0;
}

.card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    height: 75px;
    width: 100px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-right: 20px; /* Espaçamento entre os cards */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
}

.card-img {
    width: 45px;
    height: auto;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.0);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
